@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }
body {
  color: #2D313D;
  background: #F6F7FB;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0; }

body, html {
  overflow: hidden auto; }

img {
  max-width: 100%; }

* {
  outline: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

.text-center {
  text-align: center;
  justify-content: center; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.dr-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px; }
  .container-fluid {
    width: 100%;
    padding: 0 15px; }

/*стилизация чекбоксов*/
.checkbox input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: absolute; }
  .checkbox input[type="checkbox"]:checked ~ .checkbox-box {
    background-color: #005AF5;
    border-color: transparent; }
    .checkbox input[type="checkbox"]:checked ~ .checkbox-box svg {
      opacity: 1;
      visibility: visible; }
  .checkbox input[type="checkbox"]:disabled ~ .checkbox-box {
    cursor: default;
    opacity: 0.4; }
.checkbox-box {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  cursor: pointer; }
.checkbox.normalize .checkbox-box {
  width: 24px;
  height: 24px;
  background: #fff;
  border: none; }
  .checkbox.normalize .checkbox-box svg {
    fill: #465970;
    opacity: .4;
    visibility: visible;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease; }
.checkbox.normalize input[type="checkbox"]:checked ~ .checkbox-box {
  background: #fff;
  border: none; }
  .checkbox.normalize input[type="checkbox"]:checked ~ .checkbox-box svg {
    opacity: 1; }
.checkbox-box {
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 2px solid #A1ACBC;
  border-radius: 4px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease; }
  .checkbox-box svg {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    fill: #fff;
    opacity: 0;
    visibility: hidden; }

.checkbox-list .checkbox {
  margin-bottom: 15px; }

/*стилизация чекбоксов*/
.table {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden auto;
  flex-direction: column; }
  .table-content {
    display: grid;
    width: 100%; }
  .table-head {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(227, 231, 244, 0.4); }
    .table-head .table-cell {
      font-weight: bold; }
  .table-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min-content; }
    .table-body.edited-body .table-row:not(.edited-row) {
      opacity: .2;
      pointer-events: none; }
  .table-cell {
    position: relative;
    min-height: 35px;
    min-width: 125px;
    display: flex;
    align-items: center;
    border: 1px solid #E3E7F4;
    background: #fff;
    padding: 5px; }
    .table-cell.editable {
      cursor: default; }
      .table-cell.editable > * {
        cursor: default; }
      .table-cell.editable.edited {
        cursor: auto;
        pointer-events: auto; }
        .table-cell.editable.edited > * {
          cursor: auto;
          pointer-events: auto; }
    .table-cell.type-laptop, .table-cell.type-tablet, .table-cell.type-handy, .table-cell.type-ebook {
      padding-left: 25px; }
      .table-cell.type-laptop:before, .table-cell.type-tablet:before, .table-cell.type-handy:before, .table-cell.type-ebook:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 3px;
        top: 50%;
        margin-top: -9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        opacity: .4; }
    .table-cell.type-laptop:before {
      background-image: url(../images/laptop.svg); }
    .table-cell.type-handy:before {
      background-image: url(../images/smartphone.svg); }
    .table-cell.type-tablet:before, .table-cell.type-ebook:before {
      background-image: url(../images/tablet.svg); }
    .table-cell .simple-select {
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: #F6F7FB; }
      .table-cell .simple-select-main svg {
        opacity: 0; }
      .table-cell .simple-select-item {
        padding: 10px; }
    .table-cell input[type="text"] {
      width: 100%;
      position: relative;
      border: 1px solid #E3E7F4;
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: #F6F7FB; }
    .table-cell.edited .simple-select {
      pointer-events: auto;
      cursor: pointer;
      border-color: #E3E7F4;
      background: transparent; }
    .table-cell.edited .input-text {
      border-color: #E3E7F4;
      background: transparent; }
  .table-row {
    position: relative;
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column: 1 end;
    grid-auto-flow: column;
    width: 100%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease; }
    .table-row.edited-row .btn-operations {
      opacity: 1;
      visibility: visible; }
    .table-row.edited-row .simple-select-main svg {
      opacity: 1; }
  .table-group {
    display: flex; }

.gr-custom {
  background: #E3E7F4; }
.gr-mainCharacteristic {
  background: #90A2FF; }
.gr-params {
  background: #FF81E3; }
.gr-interfaces {
  background: #F2FF57; }
.gr-price {
  background: #B1FF74; }
.gr-content {
  background: #E497FF; }

.page-title {
  margin-top: 30px; }

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0; }
  .pagination ul {
    display: flex; }
    .pagination ul li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      text-decoration: none;
      color: #2D313D;
      margin-right: 10px;
      border-radius: 4px;
      font-size: 16px; }
      .pagination ul li a.active {
        font-weight: bold;
        color: #005AF5;
        background: #fff; }
      .pagination ul li a svg {
        fill: #2D313D; }

.btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border: none;
  border-radius: 4px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease; }
  .btn-box {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }
  .btn.primary {
    background: #005AF5; }

.btn-box-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease; }
  .btn-box-wrapper.active {
    opacity: .5; }

.simple-select {
  width: 100%;
  position: relative;
  border: 1px solid #E3E7F4; }
  .simple-select-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .simple-select-main svg {
      fill: #2D313D;
      margin-left: 5px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease; }
  .simple-select-selected {
    margin: 0; }
  .simple-select-drop {
    width: 100%;
    left: 0;
    top: 30px;
    background: #fff;
    z-index: 1;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    box-shadow: 0px 10px 20px rgba(161, 172, 188, 0.4);
    max-height: 300px;
    overflow: hidden auto; }
    .simple-select-drop::-webkit-scrollbar-track {
      -webkit-box-shadow: none; }
    .simple-select-drop::-webkit-scrollbar {
      width: 4px;
      background-color: #E3E7F4;
      margin-left: 10px; }
    .simple-select-drop::-webkit-scrollbar-thumb {
      background-color: #005AF5;
      border-radius: 0;
      border: none; }
  .simple-select-item {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease; }
    .simple-select-item:hover {
      color: #A1ACBC;
      background: #F6F7FB; }
    .simple-select-item.is-active {
      font-weight: bold;
      background: rgba(0, 90, 245, 0.05);
      color: #005AF5; }
  .simple-select.is-active {
    border-color: #005AF5; }
    .simple-select.is-active .simple-select-main svg {
      transform: rotate(180deg); }
    .simple-select.is-active .simple-select-drop {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); }
  .simple-select.disabled {
    pointer-events: none;
    cursor: default;
    background: #F6F7FB; }

.btn-primary {
  background: #005AF5;
  color: #fff; }
  .btn-primary:hover {
    background: #2978ff; }

.btn-muted {
  background: #E3E7F4;
  color: #A1ACBC; }
  .btn-muted:hover {
    background: white; }

.btn-red {
  background: #ff2d41;
  color: #fff; }
  .btn-red:hover {
    background: #ff606f; }

.btn-dark-blue {
  background: #465970;
  color: #fff; }
  .btn-dark-blue:hover {
    background: #5a728f; }

.btn-operations {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 15%;
  left: 0;
  z-index: 1;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease; }
  .btn-operations-edit {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; }
  .btn-operations .btn {
    box-shadow: 0 10px 20px rgba(15, 52, 116, 0.21); }

/*# sourceMappingURL=style.css.map */
