@charset "UTF-8";
*::-webkit-scrollbar-track {
  -webkit-box-shadow: none; }
*::-webkit-scrollbar {
  width: 8px;
  background-color: #E3E7F4;
  margin-left: 10px; }
*::-webkit-scrollbar-thumb {
  background-color: #A1ACBC;
  border-radius: 0;
  border: none; }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #005AF5; }

/*стилизация чекбоксов*/
.checkbox {
  display: flex;
  align-items: center; }
  .checkbox-text {
    color: #2D313D;
    font-weight: 500; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute; }
    .checkbox input[type="checkbox"]:checked ~ .checkbox-box {
      background-color: #005AF5;
      border-color: transparent; }
      .checkbox input[type="checkbox"]:checked ~ .checkbox-box svg {
        opacity: 1;
        visibility: visible; }
    .checkbox input[type="checkbox"]:disabled ~ .checkbox-box {
      cursor: default;
      opacity: 0.4; }
  .checkbox-box {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer; }
  .checkbox.normalize .checkbox-box {
    width: 24px;
    height: 24px;
    background: #fff;
    border: none; }
    .checkbox.normalize .checkbox-box svg {
      fill: #465970;
      opacity: .4;
      visibility: visible;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease; }
  .checkbox.normalize input[type="checkbox"]:checked ~ .checkbox-box {
    background: #fff;
    border: none; }
    .checkbox.normalize input[type="checkbox"]:checked ~ .checkbox-box svg {
      opacity: 1; }
  .checkbox-box {
    margin: 0 15px 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid #A1ACBC;
    border-radius: 4px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease; }
    .checkbox-box svg {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      fill: #fff;
      opacity: 0;
      visibility: hidden; }

.checkbox-list .checkbox {
  margin-bottom: 15px; }

/*стилизация чекбоксов*/
.table {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  z-index: 3;
  background: #F6F7FB; }
  .table .cap {
    display: flex;
    align-items: center;
    padding: 5px;
    pointer-events: none;
    cursor: default;
    border-radius: 2px;
    background: #F6F7FB;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #E3E7F4;
    font-size: 14px;
    min-height: 30px; }
  .table-content {
    display: grid;
    width: 100%;
    overflow: auto hidden; }
    .table-content::-webkit-scrollbar-track {
      -webkit-box-shadow: none; }
    .table-content::-webkit-scrollbar {
      height: 8px;
      background-color: #E3E7F4;
      margin-left: 10px; }
    .table-content::-webkit-scrollbar-thumb {
      background-color: #A1ACBC;
      border-radius: 0;
      border: none; }
      .table-content::-webkit-scrollbar-thumb:hover {
        background-color: #005AF5; }
  .table-head {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(227, 231, 244, 0.4); }
    .table-head .table-cell {
      font-size: 13px;
      font-weight: bold;
      display: flex;
      justify-content: space-between; }
      .table-head .table-cell:last-child .column-tool-dropdown, .table-head .table-cell:nth-last-child(2) .column-tool-dropdown {
        left: auto;
        right: 0; }
      .table-head .table-cell > span {
        flex: 1;
        display: inline-flex;
        text-align: center;
        justify-content: center; }
  .table-body {
    position: relative;
    display: flex;
    flex-direction: column; }
    .table-body-wrapper {
      max-height: 70vh;
      min-height: 70vh;
      overflow: hidden auto; }
      .table-body-wrapper::-webkit-scrollbar-track {
        -webkit-box-shadow: none; }
      .table-body-wrapper::-webkit-scrollbar {
        width: 8px;
        background-color: #E3E7F4;
        margin-left: 10px; }
      .table-body-wrapper::-webkit-scrollbar-thumb {
        background-color: #A1ACBC;
        border-radius: 0;
        border: none; }
        .table-body-wrapper::-webkit-scrollbar-thumb:hover {
          background-color: #005AF5; }
    .table-body .table-cell:not(.editable) {
      cursor: default; }
    .table-body.edited-body .table-row:not(.edited-row) {
      opacity: .2;
      pointer-events: none; }
  .table-cell {
    position: relative;
    min-height: 35px;
    min-width: 155px;
    display: flex;
    align-items: center;
    border: 1px solid #E3E7F4;
    background: #fff;
    padding: 5px;
    font-size: 13px; }
    .table-cell .chosen-container {
      display: flex;
      align-items: center;
      height: 100%; }
    .table-cell * {
      font-size: 13px; }
    .table-cell .text {
      display: flex;
      align-items: center;
      position: absolute;
      white-space: nowrap;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      margin: 0;
      top: 0;
      left: 5px;
      height: 38px; }
    .table-cell .no-parent {
      position: absolute;
      left: 5%;
      top: 10%;
      height: 80%;
      width: 90%;
      background: rgba(255, 45, 65, 0.2); }
    .table-cell img {
      display: block;
      width: auto;
      max-height: 40px;
      margin: 0 auto; }
    .table-cell .simple-select {
      width: 100%;
      height: 100%;
      position: relative;
      border: 1px solid #E3E7F4; }
      .table-cell .simple-select-main {
        height: auto;
        width: 100%;
        background: transparent;
        padding: 0; }
        .table-cell .simple-select-main-item {
          padding: 10px; }
      .table-cell .simple-select-drop {
        top: 42px; }
    .table-cell.editable {
      cursor: default; }
      .table-cell.editable > * {
        cursor: default; }
      .table-cell.editable.edited {
        cursor: auto;
        pointer-events: auto; }
        .table-cell.editable.edited > *, .table-cell.editable.edited .chosen-container {
          cursor: pointer;
          pointer-events: auto; }
    .table-cell.type-laptop, .table-cell.type-tablet, .table-cell.type-handy, .table-cell.type-ebook {
      padding-left: 25px; }
      .table-cell.type-laptop:before, .table-cell.type-tablet:before, .table-cell.type-handy:before, .table-cell.type-ebook:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 3px;
        top: 50%;
        margin-top: -9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        opacity: .4; }
    .table-cell.type-laptop:before {
      background-image: url(../images/laptop.svg); }
    .table-cell.type-handy:before {
      background-image: url(../images/smartphone.svg); }
    .table-cell.type-tablet:before, .table-cell.type-ebook:before {
      background-image: url(../images/tablet.svg); }
    .table-cell .simple-select {
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: #F6F7FB; }
      .table-cell .simple-select-main svg {
        opacity: 0; }
    .table-cell input[type="text"], .table-cell input {
      width: 100%;
      height: 100%;
      min-height: auto;
      position: relative;
      border: 1px solid #E3E7F4;
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: #F6F7FB; }
    .table-cell.edited .simple-select {
      pointer-events: auto;
      cursor: pointer;
      border-color: #E3E7F4;
      background: transparent; }
    .table-cell.edited .input-text {
      border-color: #E3E7F4;
      background: transparent; }
    .table-cell.edited .chosen-container {
      cursor: pointer;
      pointer-events: auto; }
  .table-row {
    position: relative;
    padding-left: 40px;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease; }
    .table-row.edited-row .btn-operations {
      opacity: 1;
      visibility: visible; }
    .table-row.edited-row .simple-select-main svg {
      opacity: 1; }
    .table-row.edited-row .table-cell.editable {
      border-color: #465970;
      box-shadow: inset 0px 0px 0px 1px #465970; }
    .table-row:last-child .simple-select-drop, .table-row:nth-last-child(2) .simple-select-drop, .table-row:nth-last-child(3) .simple-select-drop, .table-row:nth-last-child(4) .simple-select-drop, .table-row:nth-last-child(5) .simple-select-drop, .table-row:nth-last-child(6) .simple-select-drop, .table-row:nth-last-child(7) .simple-select-drop {
      top: auto;
      bottom: 42px; }
    .table-row:first-child .simple-select-drop, .table-row:nth-child(2) .simple-select-drop, .table-row:nth-child(3) .simple-select-drop {
      top: 42px;
      bottom: auto; }
  .table-group {
    display: flex; }

.gr-custom {
  background: #E3E7F4; }
.gr-mainCharacteristic {
  background: #90A2FF; }
.gr-params {
  background: #FF81E3; }
.gr-interfaces {
  background: #F2FF57; }
.gr-price {
  background: #B1FF74; }
.gr-content {
  background: #E497FF; }
.gr-seo {
  background: #92D1FF; }
.gr-amazon {
  background: #FFF2AF; }

.page-devices .page-title {
  padding-left: 40px; }

.page-title {
  margin-top: 15px; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1; }
  .pagination > ul {
    display: flex;
    margin-right: 10px; }
    .pagination > ul li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      text-decoration: none;
      color: #2D313D;
      background: #E3E7F4;
      margin-right: 10px;
      border-radius: 4px;
      font-size: 14px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease; }
      .pagination > ul li a:hover {
        background: #fff; }
      .pagination > ul li a.active {
        font-weight: bold;
        color: #005AF5;
        background: #fff; }
      .pagination > ul li a svg {
        fill: #2D313D; }
  .pagination .simple-select-drop {
    top: auto;
    bottom: 50px; }

button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border: none;
  border-radius: 5px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease; }
  .btn-empty .icon {
    margin: 0 !important; }
  .btn-box {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }
    .btn-box-min {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px; }
      .btn-box-min .icon svg {
        width: 12px; }
  .btn-filter-column {
    margin-left: 15px; }
    .btn-filter-column.is-active {
      background: #fff; }
      .btn-filter-column.is-active .icon svg {
        fill: #005AF5; }
  .btn.primary {
    background: #005AF5; }

.btn-box-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 7px;
  z-index: 1;
  opacity: 0;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease; }
  .btn-box-wrapper.active {
    opacity: .5; }
  .btn-box-wrapper:hover {
    opacity: 1; }

.simple-select {
  width: auto;
  position: relative;
  border: none;
  display: flex;
  align-items: center; }
  .simple-select.gray .simple-select-main {
    background: #F6F7FB; }
  .simple-select-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px; }
    .simple-select-main svg {
      fill: #2D313D;
      margin-left: 5px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease; }
  .simple-select-selected {
    margin: 0; }
  .simple-select-label {
    margin-right: 10px; }
  .simple-select-drop {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 50px;
    background: #fff;
    z-index: 10;
    border-radius: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    max-height: 300px;
    overflow: hidden auto; }
    .simple-select-drop-inner {
      height: 80%;
      overflow: hidden auto; }
      .simple-select-drop-inner::-webkit-scrollbar-track {
        -webkit-box-shadow: none; }
      .simple-select-drop-inner::-webkit-scrollbar {
        width: 6px;
        background-color: #E3E7F4;
        margin-left: 10px; }
      .simple-select-drop-inner::-webkit-scrollbar-thumb {
        background-color: #A1ACBC;
        border-radius: 0;
        border: none; }
        .simple-select-drop-inner::-webkit-scrollbar-thumb:hover {
          background-color: #005AF5; }
  .simple-select-item {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    padding: 10px 20px;
    cursor: pointer; }
    .simple-select-item:hover {
      color: #A1ACBC;
      background: #F6F7FB; }
    .simple-select-item.is-active {
      font-weight: bold;
      background: rgba(0, 90, 245, 0.05);
      color: #005AF5; }
  .simple-select.is-active {
    border-color: #005AF5; }
    .simple-select.is-active .simple-select-main svg {
      transform: rotate(180deg); }
    .simple-select.is-active .simple-select-drop {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); }
  .simple-select-add {
    padding: 7px;
    height: 20%; }
    .simple-select-add .btn {
      height: auto;
      font-size: 13px;
      padding: 10px;
      width: 100%; }

.dropdown {
  position: relative; }
  .dropdown > .icon {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
  .dropdown.is-active .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }
  .dropdown.is-active > .icon:not(.no-transform) {
    transform: rotate(180deg); }
  .dropdown-list {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 10;
    background: #fff;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    min-width: 260px;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
    .dropdown-list > ul {
      position: relative;
      max-height: 350px;
      overflow: hidden auto; }
    .dropdown-list-item > * {
      display: block;
      background: transparent;
      padding: 15px 20px;
      cursor: pointer;
      border: none;
      width: 100%;
      text-align: left;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease; }
      .dropdown-list-item > * * {
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease; }
      .dropdown-list-item > *:hover {
        background: #F6F7FB;
        color: #A1ACBC; }
        .dropdown-list-item > *:hover * {
          color: #A1ACBC; }
    .dropdown-list-item:not(:last-child) {
      border-bottom: 1px solid #E3E7F4; }

.column-tool-dropdown {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
  min-width: 260px;
  transform: translateY(20px);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease; }
  .column-tool-dropdown button {
    justify-content: flex-start;
    text-align: left;
    border: none;
    background: transparent; }
  .column-tool-dropdown.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }
.column-tool-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0 0 12px 20px;
  color: #A1ACBC; }
  .column-tool-header .icon {
    margin-right: 10px; }
    .column-tool-header .icon svg {
      fill: #A1ACBC; }
.column-tool-group {
  margin-top: 25px; }
  .column-tool-group:last-child {
    margin-bottom: 15px; }
.column-tool-list {
  max-height: 120px;
  overflow: hidden auto; }
  .column-tool-list > li > .column-tool-item:not(.checkbox).is-active {
    pointer-events: none;
    color: #005AF5;
    background: #F6F7FB; }
  .column-tool-list > li > * {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px 10px 35px;
    cursor: pointer;
    font-weight: normal; }
    .column-tool-list > li > *:hover {
      background: #F6F7FB; }
.column-tool-total {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 35px; }
  .column-tool-total > * {
    padding: 8px 0;
    color: #005AF5;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    justify-content: flex-start;
    text-align: left;
    border: none;
    background: transparent; }
    .column-tool-total > *:not(:last-child) {
      margin-right: 15px; }
.column-tool-btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0; }
  .column-tool-btns > * {
    margin-right: 15px; }

.table-btn-tool {
  position: relative;
  padding-left: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0; }
  .table-btn-tool__item {
    display: flex;
    align-items: center; }
  .table-btn-tool .btn:not(:last-child) {
    margin-right: 15px; }
  .table-btn-tool .btn .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; }

.chosen-container {
  text-align: left;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
  background: #F6F7FB;
  position: relative;
  border: 1px solid #E3E7F4; }
  .chosen-container .chosen-drop {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
    transition: .2s linear;
    transition-property: transform,opacity,visibility;
    transform-origin: top center;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    z-index: 10;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0; }
  .chosen-container li:before {
    display: none !important; }
  .chosen-container .chosen-results {
    padding: 0;
    margin: 0;
    border-radius: 0; }
    .chosen-container .chosen-results li {
      margin: 0;
      padding: 10px 20px;
      border-radius: 0;
      transition: .25s linear;
      transition-property: background-color;
      cursor: pointer;
      color: inherit;
      overflow: hidden auto; }
      .chosen-container .chosen-results li.highlighted, .chosen-container .chosen-results li.result-selected, .chosen-container .chosen-results li:hover {
        background: #F6F7FB;
        color: #A1ACBC; }
    .chosen-container .chosen-results::-webkit-scrollbar-track {
      -webkit-box-shadow: none; }
    .chosen-container .chosen-results::-webkit-scrollbar {
      width: 7px;
      background-color: #E3E7F4;
      margin-left: 10px; }
    .chosen-container .chosen-results::-webkit-scrollbar-thumb {
      background-color: #A1ACBC;
      border-radius: 0;
      border: none; }
      .chosen-container .chosen-results::-webkit-scrollbar-thumb:hover {
        background-color: #005AF5; }
  .chosen-container.chosen-container-active .chosen-drop {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  .chosen-container-single .chosen-single {
    background: transparent !important;
    padding: 0;
    font-size: 13px;
    height: auto;
    width: 100%; }
  .chosen-container-single .chosen-default {
    font-size: 13px;
    color: #2D313D;
    background: transparent !important; }

.chosen-with-drop.chosen-container-active .chosen-choices {
  border-radius: 5px 5px 0 0; }

.input-group .chosen-container-single .chosen-single, .input-group .chosen-container-multi .chosen-choices {
  border-radius: 5px 0 0 5px; }

.input-group .chosen-container-active.chosen-with-drop .chosen-single, .input-group .chosen-with-drop.chosen-container-active .chosen-choices {
  border-radius: 5px 0 0 0; }

.chose-image-list, .chose-image-small, .chose-image {
  width: 17px;
  height: 13px;
  margin: -4px 5px 0px 0px; }

.has-error .chosen-container-single .chosen-single, .has-error .chosen-container-multi .chosen-choices,
.has-error .chosen-container-active .chosen-single, .has-error .chosen-container-active.chosen-with-drop .chosen-single,
.has-error .chosen-container .chosen-drop, .has-error .chosen-container-active .chosen-choices {
  border-color: #ffb1b1 !important; }

.chosen-container-single .chosen-search input[type="text"] {
  border: 1px solid #bebebe;
  font-family: 'PT Sans', sans-serif;
  border-radius: 4px;
  padding: 0 18px 0 6px;
  line-height: 1.42857143; }
.chosen-container-single .chosen-single span {
  margin-right: 10px; }
.chosen-container-single .chosen-single div b {
  background-position: 0 4px; }

.chosen-container-multi.chosen-with-drop.chosen-container-active ul.chosen-results {
  padding: 5px; }

.chosen-container-multi .chosen-choices, .chosen-container .chosen-results, .chosen-container-single .chosen-single {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 14px; }

.chosen-container-single .chosen-single div b {
  background-position: 0 15px; }

.chosen-container-multi .chosen-choices {
  background: transparent;
  color: #2D313D;
  padding: 0; }
  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 0;
    color: #2D313D;
    height: auto;
    font-size: 14px; }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"].default {
      display: inline-block; }
  .chosen-container-multi .chosen-choices li.search-choice {
    background: #fff;
    border: none;
    box-shadow: none;
    color: #474747;
    margin: 0 3px 3px 0;
    padding: 3px 20px 3px 3px;
    white-space: nowrap;
    font-size: 12px; }
    .chosen-container-multi .chosen-choices li.search-choice span {
      font-size: 12px; }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      top: 50%;
      margin-top: -5px;
      right: 5px;
      background: url(/images/chosen-close.png) -42px 1px no-repeat; }

input[type="text"].chosen-search-input, .chosen-container-single .chosen-search {
  pointer-events: auto;
  cursor: text; }

.conpos-btns {
  display: flex;
  flex-wrap: nowrap; }
  .conpos-btns > .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .conpos-btns > .btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.search-select {
  margin-left: 40px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 3px;
  right: 15px;
  z-index: 10;
  display: flex; }
  .search-select > .btn {
    margin-right: 15px; }
  .search-select .search-select-container {
    position: relative;
    border: none;
    background: #fff;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    width: 100%; }
    .search-select .search-select-container:before {
      content: '';
      position: absolute;
      font-size: 1px;
      width: 16px;
      height: 16px;
      left: 12px;
      top: 50%;
      margin-top: -8px;
      background-image: url("../images/search.svg");
      z-index: 1; }
    .search-select .search-select-container .search-select-results {
      margin: 0;
      padding: 0;
      position: absolute;
      background: #fff;
      width: 100%;
      top: 50px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transform: translateY(20px);
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4); }
      .search-select .search-select-container .search-select-results.is-active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible; }
      .search-select .search-select-container .search-select-results::-webkit-scrollbar-track {
        -webkit-box-shadow: none; }
      .search-select .search-select-container .search-select-results::-webkit-scrollbar {
        width: 7px;
        background-color: #E3E7F4;
        margin-left: 10px; }
      .search-select .search-select-container .search-select-results::-webkit-scrollbar-thumb {
        background-color: #A1ACBC;
        border-radius: 0;
        border: none; }
        .search-select .search-select-container .search-select-results::-webkit-scrollbar-thumb:hover {
          background-color: #005AF5; }
      .search-select .search-select-container .search-select-results .search-select-list li {
        cursor: pointer;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease; }
        .search-select .search-select-container .search-select-results .search-select-list li > * {
          display: flex;
          padding: 10px 15px;
          transition: all .2s ease;
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -o-transition: all .2s ease;
          color: #2D313D; }
        .search-select .search-select-container .search-select-results .search-select-list li:not(:last-child) {
          border-bottom: 1px solid #F6F7FB; }
        .search-select .search-select-container .search-select-results .search-select-list li:hover > *, .search-select .search-select-container .search-select-results .search-select-list li.selected > * {
          background: #F6F7FB;
          color: #A1ACBC; }
    .search-select .search-select-container .search-select-input {
      padding: 12px 20px 12px 40px;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #2D313D;
      height: auto;
      position: relative;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      width: 100%;
      border: 2px solid transparent;
      border-radius: 0; }
      .search-select .search-select-container .search-select-input:focus, .search-select .search-select-container .search-select-input.is-active {
        border: 2px solid #005AF5; }
        .search-select .search-select-container .search-select-input:focus::placeholder, .search-select .search-select-container .search-select-input.is-active::placeholder {
          color: #2D313D; }
    .search-select .search-select-container .search-select-results li.active-result {
      border-radius: 0;
      margin: 0;
      font-size: 13px; }
      .search-select .search-select-container .search-select-results li.active-result > * {
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease; }
      .search-select .search-select-container .search-select-results li.active-result:hover > * {
        background: #F6F7FB;
        color: #A1ACBC; }

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease; }
  .preloader-content {
    width: 100px;
    height: 100px;
    background-image: url(../images/preloader.gif);
    background-size: cover;
    background-repeat: no-repeat; }
  .preloader.is-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  .preloader-cell {
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .preloader-cell * {
      display: none !important; }

.form-group {
  display: flex;
  flex-direction: column; }
  .form-group > label {
    margin: 0 0 10px 0; }
  .form-group.row {
    flex-direction: row;
    align-items: center;
    width: auto;
    flex: 1; }
    .form-group.row > *:not(:last-child) {
      margin-right: 10px; }
  .form-group.inline-form {
    flex-direction: row;
    justify-content: flex-end; }
    .form-group.inline-form > label {
      margin: 0 10px 0 0; }
  .form-group input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 14px; }
    .form-group input:focus {
      border: 1px solid #E3E7F4; }

.input-date-range {
  display: flex;
  align-items: center; }
  .input-date-range > * {
    margin-right: 10px; }

.operations-process .modal-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 19; }
.operations-process .c-secondary, .operations-process label {
  color: #fff; }
.operations-process .btn-operations, .operations-process .table, .operations-process .table-btn-tool {
  z-index: 20; }

.table-cell .checkbox-text {
  font-weight: bold; }

.search-select-results {
  max-height: 350px;
  overflow: hidden auto; }

.dropdown-list-item > button > * {
  display: flex;
  padding: 15px 20px;
  color: #2D313D; }

.page-listing .dropdown-list-item > * {
  padding: 0; }

.listing-modal-content {
  display: flex;
  align-items: center; }
  .listing-modal-content #id-edited-input {
    flex: 1; }
  .listing-modal-content > *:not(:last-child) {
    margin-right: 15px; }
  .listing-modal-content > *:first-child {
    flex: 3; }
  .listing-modal-content .simple-select {
    width: 100%; }

.progress {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .progress > * {
    width: 100%;
    display: flex; }
  .progress-value {
    font-size: 13px; }
  .progress .procent {
    display: block;
    margin: 0 0 10px 0; }
  .progress-bar {
    position: relative;
    width: 100%;
    height: 25px;
    background: #E3E7F4; }
    .progress-bar .progress-line {
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background: #005AF5;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease; }

.file-list {
  margin-top: 20px; }
  .file-list > * {
    display: inline-block;
    color: #005AF5;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease; }
    .file-list > *:hover {
      color: #3464e0; }
    .file-list > *:not(:last-child) {
      margin-bottom: 15px; }
  .file-list .file {
    position: relative;
    padding: 5px 5px 5px 30px;
    margin-right: 15px; }
    .file-list .file:before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      margin-top: -9px;
      display: block;
      width: 18px;
      height: 18px;
      background-image: url(../images/download.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }

.content-list {
  position: relative;
  max-height: 250px;
  overflow: hidden auto; }

/*# sourceMappingURL=style.css.map */
