$dark: #2D313D;
$darkBlue: #465970;
$secondary: #A1ACBC;
$gray: #E3E7F4;
$lightGray: #F6F7FB;
$light: #fff;
$darkenPrimary: #3464E0;
$primary: #005AF5;
$green: #7FC28D;
$orange: #F1A727;
$red: #ff2d41;

$t-main-characteristic: #90A2FF;
$t-params: #FF81E3;
$t-interfaces: #F2FF57;
$t-price: #B1FF74;
$t-content: #E497FF;
