@import "vars";
@import "fonts";

body {
  color: $dark;
  background: $lightGray;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

body, html {
  overflow: hidden;
}

img {
  max-width: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dr-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  &-fluid {
    width: 100%;
    padding: 0 15px;
  }
}

/*стилизация чекбоксов*/
.checkbox {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    &:checked~.checkbox-box {
      background-color: $primary;
      border-color: transparent;
      svg {
        opacity: 1;
        visibility: visible;
      }
    }
    &:disabled~.checkbox-box {
      cursor: default;
      opacity: 0.4;
    }
  }
  &-box {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer;
  }
  &.normalize {
    .checkbox-box {
      width: 24px;
      height: 24px;
      background: $light;
      border: none;
      svg {
        fill: $darkBlue;
        opacity: .4;
        visibility: visible;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
      }
    }
    input[type="checkbox"] {
      &:checked~.checkbox-box {
        background: $light;
        border: none;
        svg {
          opacity: 1;
        }
      }
    }
  }
  &-box {
    margin: 0 5px 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid $secondary;
    border-radius: 4px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    svg {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      fill: $light;
      opacity: 0;
      visibility: hidden;
    }
  }
}
.checkbox-list .checkbox {
  margin-bottom: 15px;
}
/*стилизация чекбоксов*/

.table {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  &-content {
    display: grid;
    width: 100%;
    overflow: auto hidden;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      //background-color: $gray;
    }
    &::-webkit-scrollbar {
      height: 8px;
      background-color: $gray;
      margin-left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      background-color: transparentize($primary, 0.7);
      border-radius: 0;
      border: none;
      &:hover {
        background-color: $primary;
      }
    }
  }
  &-head {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    box-shadow: 0 10px 20px transparentize($gray, 0.6);
    .table-cell {
      font-size: 13px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      &:last-child, &:nth-last-child(2) {
        .column-tool-dropdown {
          left: auto;
          right: 0;
        }
      }
      > span {
        flex: 1;
        display: inline-flex;
        text-align: center;
        justify-content: center;
      }
    }
  }
  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    &-wrapper {
      max-height: 65vh;
      overflow: hidden auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        //background-color: $gray;
      }
      &::-webkit-scrollbar {
        width: 8px;
        background-color: $gray;
        margin-left: 10px;
      }
      &::-webkit-scrollbar-thumb {
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        background-color: transparentize($primary, 0.7);
        border-radius: 0;
        border: none;
        &:hover {
          background-color: $primary;
        }
      }
    }
    &.edited-body .table-row:not(.edited-row) {
      opacity: .2;
      pointer-events: none;
    }
  }
  &-cell {
    position: relative;
    min-height: 35px;
    min-width: 140px;
    display: flex;
    align-items: center;
    border: 1px solid $gray;
    background: $light;
    padding: 5px;
    img {
      display: block;
      width: 100%;
      max-width: 40px;
      margin: 0 auto;
    }
    .simple-select {
      width: 100%;
      position: relative;
      border: 1px solid $gray;
      &-main {
        height: auto;
        width: 100%;
        background: transparent;
        padding: 0;
        &-item {
          padding: 10px;
        }
      }
      &-drop {
        top: 30px;
      }

    }
    &.editable {
      cursor: default;
      > * {
        cursor:default;
      }
      &.edited {
        cursor: auto;
        pointer-events: auto;
        > * {
          cursor:auto;
          pointer-events: auto;
        }
      }
    }
    &.type-laptop, &.type-tablet, &.type-handy, &.type-ebook {
      padding-left: 25px;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 3px;
        top: 50%;
        margin-top: -9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        opacity: .4;
      }
    }
    &.type-laptop {
      &:before {
        background-image: url(../images/laptop.svg);
      }
    }
    &.type-handy {
      &:before {
        background-image: url(../images/smartphone.svg);
      }
    }
    &.type-tablet, &.type-ebook {
      &:before {
        background-image: url(../images/tablet.svg);
      }
    }
    .simple-select {
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: $lightGray;
      &-main {
        svg {
          opacity: 0;
        }
      }
    }
    input[type="text"] {
      width: 100%;
      position: relative;
      border: 1px solid #E3E7F4;
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: $lightGray;
    }
    &.edited {
      .simple-select {
        pointer-events: auto;
        cursor: pointer;
        border-color: $gray;
        background: transparent;
      }
      .input-text {
        border-color: $gray;
        background: transparent;
      }
    }
  }
  &-row {
    position: relative;
    padding-left: 40px;
    display: grid;
    //grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    //grid-column: 1 end;
    grid-auto-flow: column;
    width: 100%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    &.edited-row {
      .btn-operations {
        opacity: 1;
        visibility: visible;
      }
      .simple-select {
        &-main {
          svg {
            opacity: 1;
          }
        }
      }
    }
    &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4),
    &:nth-last-child(5), &:nth-last-child(6), &:nth-last-child(7) {
      .simple-select-drop {
        top: auto;
        bottom: 30px;
      }
    }
  }
  &-group {
    display: flex;
  }
}

.gr {
  &-custom {
    background: $gray;
  }
  &-mainCharacteristic {
    background: $t-main-characteristic;
  }
  &-params {
    background: $t-params;
  }
  &-interfaces {
    background: $t-interfaces;
  }
  &-price {
    background: $t-price;
  }
  &-content {
    background: $t-content;
  }
}

.page-devices .page-title {
  padding-left: 40px;
}
.page-title {
  margin-top: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 0;
  flex: 1;
  > ul {
    display: flex;
    margin-right: 10px;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: $dark;
        background: $gray;
        margin-right: 10px;
        border-radius: 4px;
        font-size: 14px;
        &.active {
          font-weight: bold;
          color: $primary;
          background: $light;
        }
        svg {
          fill: $dark;
        }
      }
    }
  }
  .simple-select-drop {
    top: auto;
    bottom: 50px;
  }
}

.btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border: none;
  border-radius: 5px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;

  &-box {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &-min {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      .icon {
        svg {
          width: 12px;
        }
      }
    }
  }
  &-filter-column {
    margin-left: 15px;
    &.is-active {
      background: $light;
      .icon {
        svg {
          fill: $primary;
        }
      }
    }
  }
  &.primary {
    background: $primary;
  }
}
.btn-box-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  &.active{
    opacity: .5;
  }
}



.simple-select {
  width: auto;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  &-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: $light;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    svg {
      fill: $dark;
      margin-left: 5px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
    }
  }
  &-selected {
    margin: 0;
  }
  &-label {
    margin-right: 10px;
  }
  &-drop {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 50px;
    background: $light;
    z-index: 2;
    border-radius: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    max-height: 300px;
    overflow: hidden auto;
    &-inner {
      height: 80%;
      overflow: hidden auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        //background-color: $gray;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: $gray;
        margin-left: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 0;
        border: none;
      }
    }
  }
  &-item {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      color: $secondary;
      background: $lightGray;
    }
    &.is-active {
      font-weight: bold;
      background: transparentize($primary, 0.95);
      color: $primary;
    }
  }
  &.is-active {
    border-color: $primary;
    .simple-select-main {
      svg {
        transform: rotate(180deg);
      }
    }
    .simple-select-drop {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &-add {
    padding: 7px;
    height: 20%;
    .btn {
      height: auto;
      font-size: 13px;
      padding: 10px;
      width: 100%;
    }
  }
}

.disabled {
  pointer-events: none!important;
  cursor: default!important;
  opacity: .5!important;
}


.btn-primary {
  background: $primary!important;
  color: $light!important;
  &:hover {
    background: lighten($primary, 10%)!important;
  }
}
.btn-muted {
  background: $gray!important;
  color: $secondary!important;
  &:hover {
    background: lighten($gray, 5%)!important;
  }
}
.btn-gray-transparency {
  background: transparentize($light, 0.5)!important;
  color: $dark!important;
  .icon {
    svg {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      fill: $dark;
    }
  }
}
.btn-red {
  background: $red!important;
  color: $light!important;
  &:hover {
    background: lighten($red, 10%);
  }
}
.btn-dark-blue {
  background: $darkBlue!important;
  color: $light!important;
  &:hover {
    background: lighten($darkBlue, 10%);
  }
}

.c-secondary {
  color: $secondary;
}


.btn-operations {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 5px;
  right: 15px;
  z-index: 1;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  &-edit {
    display: flex;
    flex-direction: row;
  }
  .btn {
    box-shadow: 0 10px 20px rgba(15, 52, 116, 0.21);
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.column-tool {
  &-dropdown {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    background: $light;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    min-width: 260px;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    button {
      justify-content: flex-start;
      text-align: left;
      border: none;
      background: transparent;
    }
    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 0 12px 20px;
    color: $secondary;
    .icon {
      margin-right: 10px;
      svg {
        fill: $secondary;
      }
    }
  }
  &-group {
    margin-top: 25px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  &-list {
    max-height: 120px;
    overflow: hidden auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      //background-color: $gray;
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: $gray;
      margin-left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 0;
      border: none;
    }
    > li {
      > .column-tool-item {
        &:not(.checkbox).is-active {
          pointer-events: none;
          color: $primary;
          background: $lightGray;
        }
      }
      > * {
        width: 100%;
        font-size: 14px;
        padding: 10px 10px 10px 35px;
        cursor: pointer;
        font-weight: normal;
        &:hover {
          background: $lightGray;
        }
      }
    }
  }
  &-total {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 35px;
    > * {
      padding: 8px 0;
      color: $primary;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &-btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
    > * {
      margin-right: 15px;
    }
  }
}

.table-btn-tool {
  padding-left: 40px;
  display: flex;
  align-items: center;
  .btn {
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
  }
}

.login-form {
  max-width: 350px;
  width: 100%;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  input:not([type='checkbox']) {
    height: 50px;
    border: none;
    background: $light;
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px;
  }
  button {
    border: none;
    background: $primary;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: $light;
    padding: 10px 15px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    box-shadow: 0 10px 20px rgba(15, 52, 116, 0.21);
    &:hover {
      background: lighten($primary, 10%);
    }
  }
}
.hidden-el {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  label {
    font-size: 13px;
    color: $secondary;
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
    input[type='checkbox'] {
      margin: 0 5px 0 0;
      padding: 0;
    }
  }
}
.help-block {
  color: $red;
  font-size: 12px;
  margin: 5px 0 10px 0;
}

.modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  z-index: 6;
  &-open {
    filter: blur(2px);
  }
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(70, 89, 112, 0.5);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &-content {
    padding: 30px;
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(161, 172, 188, 0.4);
    width: 100%;
    max-width: 970px;
  }
  &-content-tools{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    > * {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  .btn-box.btn-close-modal, .btn-box.btn-close-modal:hover {
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    svg {
      fill: $secondary;
    }
  }
}
textarea {
  width: 100%;
  margin-top: 30px;
  resize: vertical;
  border: none;
  background: $lightGray;
  border-radius: 5px;
  max-height: 400px;
  min-height: 70px;
  padding: 10px;
}
.jc-end {
  justify-content: flex-end;
}

.navigation {
  padding-left: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  &-bar {
    display: flex;
    align-items: center;
    > li {
      .tab {
        position: relative;
        background: transparent;
        color: $secondary;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        border-bottom: 2px solid transparent;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        text-transform: uppercase;
        font-weight: bold;
        &.active {
          color: $primary;
          border-bottom-color: $primary;
          background: $light;
        }
      }
    }
  }
}