@import "../../common/scss/vars";

/*стилизация чекбоксов*/
.checkbox {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    &:checked~.checkbox-box {
      background-color: $primary;
      border-color: transparent;
      svg {
        opacity: 1;
        visibility: visible;
      }
    }
    &:disabled~.checkbox-box {
      cursor: default;
      opacity: 0.4;
    }
  }
  &-box {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer;
  }
  &.normalize {
    .checkbox-box {
      width: 24px;
      height: 24px;
      background: $light;
      border: none;
      svg {
        fill: $darkBlue;
        opacity: .4;
        visibility: visible;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
      }
    }
    input[type="checkbox"] {
      &:checked~.checkbox-box {
        background: $light;
        border: none;
        svg {
          opacity: 1;
        }
      }
    }
  }
  &-box {
    margin: 0 5px 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid $secondary;
    border-radius: 4px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    svg {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      fill: $light;
      opacity: 0;
      visibility: hidden;
    }
  }
}
.checkbox-list .checkbox {
  margin-bottom: 15px;
}
/*стилизация чекбоксов*/

.table {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  &-content {
    display: grid;
    width: 100%;
    overflow: auto hidden;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      //background-color: $gray;
    }
    &::-webkit-scrollbar {
      height: 8px;
      background-color: $gray;
      margin-left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      background-color: transparentize($primary, 0.7);
      border-radius: 0;
      border: none;
      &:hover {
        background-color: $primary;
      }
    }
  }
  &-head {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    box-shadow: 0 10px 20px transparentize($gray, 0.6);
    .table-cell {
      font-size: 13px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      &:last-child, &:nth-last-child(2) {
        .column-tool-dropdown {
          left: auto;
          right: 0;
        }
      }
      > span {
        flex: 1;
        display: inline-flex;
        text-align: center;
        justify-content: center;
      }
    }
  }
  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    &-wrapper {
      max-height: 70vh;
      min-height: 70vh;
      overflow: hidden auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        //background-color: $gray;
      }
      &::-webkit-scrollbar {
        width: 8px;
        background-color: $gray;
        margin-left: 10px;
      }
      &::-webkit-scrollbar-thumb {
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        background-color: transparentize($primary, 0.7);
        border-radius: 0;
        border: none;
        &:hover {
          background-color: $primary;
        }
      }
    }
    &.edited-body .table-row:not(.edited-row) {
      opacity: .2;
      pointer-events: none;
    }
  }
  &-cell {
    position: relative;
    min-height: 35px;
    min-width: 155px;
    display: flex;
    align-items: center;
    border: 1px solid $gray;
    background: $light;
    padding: 5px;
    * {
      font-size: 13px;
    }
    .text {
      position: absolute;
      white-space: nowrap;
      width: 90%;
      left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
    }
    img {
      display: block;
      width: auto;
      max-height: 40px;
      margin: 0 auto;
    }
    .simple-select {
      width: 100%;
      height: 100%;
      position: relative;
      border: 1px solid $gray;
      &-main {
        height: auto;
        width: 100%;
        background: transparent;
        padding: 0;
        &-item {
          padding: 10px;
        }
      }
      &-drop {
        top: 30px;
      }

    }
    &.editable {
      cursor: default;
      > * {
        cursor:default;
      }
      &.edited {
        cursor: auto;
        pointer-events: auto;
        > *, .chosen-container {
          cursor: pointer;
          pointer-events: auto;
        }
      }
    }
    &.type-laptop, &.type-tablet, &.type-handy, &.type-ebook {
      padding-left: 25px;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 3px;
        top: 50%;
        margin-top: -9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        opacity: .4;
      }
    }
    &.type-laptop {
      &:before {
        background-image: url(../images/laptop.svg);
      }
    }
    &.type-handy {
      &:before {
        background-image: url(../images/smartphone.svg);
      }
    }
    &.type-tablet, &.type-ebook {
      &:before {
        background-image: url(../images/tablet.svg);
      }
    }
    .simple-select{
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: $lightGray;
      &-main {
        svg {
          opacity: 0;
        }
      }
    }
    input[type="text"] {
      width: 100%;
      height: 100%;
      position: relative;
      border: 1px solid #E3E7F4;
      padding: 5px;
      pointer-events: none;
      cursor: default;
      border-radius: 2px;
      background: $lightGray;
    }
    &.edited {
      .simple-select {
        pointer-events: auto;
        cursor: pointer;
        border-color: $gray;
        background: transparent;
      }
      .input-text {
        border-color: $gray;
        background: transparent;
      }
      .chosen-container {
        cursor: pointer;
        pointer-events: auto;
      }
    }
  }
  &-row {
    position: relative;
    padding-left: 40px;
    display: grid;
    //grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    //grid-column: 1 end;
    grid-auto-flow: column;
    width: 100%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    &.edited-row {
      .btn-operations {
        opacity: 1;
        visibility: visible;
      }
      .simple-select {
        &-main {
          svg {
            opacity: 1;
          }
        }
      }
    }
    &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4),
    &:nth-last-child(5), &:nth-last-child(6), &:nth-last-child(7) {
      .simple-select-drop {
        top: auto;
        bottom: 30px;
      }
    }
    &:first-child, &:nth-child(2),&:nth-child(3) {
      .simple-select-drop {
        top: 30px;
        bottom: auto;
      }
    }
  }
  &-group {
    display: flex;
  }
}

.gr {
  &-custom {
    background: $gray;
  }
  &-mainCharacteristic {
    background: $t-main-characteristic;
  }
  &-params {
    background: $t-params;
  }
  &-interfaces {
    background: $t-interfaces;
  }
  &-price {
    background: $t-price;
  }
  &-content {
    background: $t-content;
  }
  &-seo {
    background: $t-seo;
  }
  &-amazon {
    background: $t-amazon;
  }
}

.page-devices .page-title {
  padding-left: 40px;
}
.page-title {
  margin-top: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 0;
  flex: 1;
  > ul {
    display: flex;
    margin-right: 10px;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: $dark;
        background: $gray;
        margin-right: 10px;
        border-radius: 4px;
        font-size: 14px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        &:hover {
          background: $light;
        }
        &.active {
          font-weight: bold;
          color: $primary;
          background: $light;
        }
        svg {
          fill: $dark;
        }
      }
    }
  }
  .simple-select-drop {
    top: auto;
    bottom: 50px;
  }
}
button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border: none;
  border-radius: 5px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  &-empty {
    .icon {
      margin: 0!important;
    }
  }
  &-box {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &-min {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      .icon {
        svg {
          width: 12px;
        }
      }
    }
  }
  &-filter-column {
    margin-left: 15px;
    &.is-active {
      background: $light;
      .icon {
        svg {
          fill: $primary;
        }
      }
    }
  }
  &.primary {
    background: $primary;

  }
}
.btn-box-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  &.active{
    opacity: .5;
  }
}



.simple-select {
  width: auto;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  &-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: $light;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    svg {
      fill: $dark;
      margin-left: 5px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
    }
  }
  &-selected {
    margin: 0;
  }
  &-label {
    margin-right: 10px;
  }
  &-drop {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 50px;
    background: $light;
    z-index: 2;
    border-radius: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    max-height: 300px;
    overflow: hidden auto;
    &-inner {
      height: 80%;
      overflow: hidden auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        //background-color: $gray;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: $gray;
        margin-left: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 0;
        border: none;
      }
    }
  }
  &-item {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      color: $secondary;
      background: $lightGray;
    }
    &.is-active {
      font-weight: bold;
      background: transparentize($primary, 0.95);
      color: $primary;
    }
  }
  &.is-active {
    border-color: $primary;
    .simple-select-main {
      svg {
        transform: rotate(180deg);
      }
    }
    .simple-select-drop {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &-add {
    padding: 7px;
    height: 20%;
    .btn {
      height: auto;
      font-size: 13px;
      padding: 10px;
      width: 100%;
    }
  }
}

.dropdown {
  position: relative;
  > .icon {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
  }
  &.is-active {
    .dropdown-list {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    > .icon {
      transform: rotate(180deg);
    }
  }
  &-list {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 1;
    background: $light;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    min-width: 260px;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    &-item {
      * {
        display: block;
        background: transparent;
        padding: 15px 20px;
        cursor: pointer;
        border: none;
        width: 100%;
        text-align: left;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        &:hover {
          background: $lightGray;
          color: $secondary;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
    }
  }
}
.column-tool {
  &-dropdown {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    background: $light;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    min-width: 260px;
    transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    button {
      justify-content: flex-start;
      text-align: left;
      border: none;
      background: transparent;
    }
    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 0 12px 20px;
    color: $secondary;
    .icon {
      margin-right: 10px;
      svg {
        fill: $secondary;
      }
    }
  }
  &-group {
    margin-top: 25px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  &-list {
    max-height: 120px;
    overflow: hidden auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      //background-color: $gray;
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: $gray;
      margin-left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 0;
      border: none;
    }
    > li {
      > .column-tool-item {
        &:not(.checkbox).is-active {
          pointer-events: none;
          color: $primary;
          background: $lightGray;
        }
      }
      > * {
        width: 100%;
        font-size: 14px;
        padding: 10px 10px 10px 35px;
        cursor: pointer;
        font-weight: normal;
        &:hover {
          background: $lightGray;
        }
      }
    }
  }
  &-total {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 35px;
    > * {
      padding: 8px 0;
      color: $primary;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &-btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
    > * {
      margin-right: 15px;
    }
  }
}

.table-btn-tool {
  padding-left: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &__item {
    display: flex;
    align-items: center;
  }
  .btn {
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
  }
}





.chosen-container {
  text-align: left;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
  background: $lightGray;
  position: relative;
  border: 1px solid #E3E7F4;
  .chosen-drop {
    border-radius: 0 0 5px 5px;
    padding: 0 1px 1px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transform: scale(.85);
    visibility: visible;
    opacity: 1;
    transition: .2s linear;
    transition-property: transform,opacity,visibility;
    transform-origin: top center;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    z-index: 2;
    margin-bottom: 0;
    border: none;
  }
  li:before {
    display: none !important;
  }
  .chosen-results {
    padding: 14px 10px;
    li {
      padding: 6px 20px;
      transition: .25s linear;
      transition-property: background-color;
      cursor: pointer;
      border-radius: 4px;
      color: inherit;
      overflow: hidden auto;
      &:not(:last-child){
        margin-bottom: 2px;
      }
      &.highlighted {
        background: #EDEDF5;
        color: inherit;
      }
    }
  }
  &.chosen-container-active .chosen-drop {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

.chosen-with-drop.chosen-container-active .chosen-choices {
  border-radius: 5px 5px 0 0;
}
.input-group .chosen-container-single .chosen-single, .input-group .chosen-container-multi .chosen-choices {
  border-radius: 5px 0 0 5px;
}
.input-group .chosen-container-active.chosen-with-drop .chosen-single, .input-group .chosen-with-drop.chosen-container-active .chosen-choices {
  border-radius: 5px 0 0 0;
}

.chose-image-list, .chose-image-small, .chose-image {
  width: 17px;
  height: 13px;
  margin: -4px 5px 0px 0px;
}
.has-error .chosen-container-single .chosen-single, .has-error .chosen-container-multi .chosen-choices,
.has-error .chosen-container-active .chosen-single, .has-error .chosen-container-active.chosen-with-drop .chosen-single,
.has-error .chosen-container .chosen-drop, .has-error .chosen-container-active .chosen-choices{
  border-color: #ffb1b1 !important;
}


.chosen-container-single {
  .chosen-search input[type="text"] {
    border:        1px solid #bebebe;
    font-family:   'PT Sans', sans-serif;
    border-radius: 4px;
    padding:       0 18px 0 6px;
    line-height:   1.42857143;
  }
  .chosen-single {
    span {
      margin-right: 10px;
    }
    div b {
      background-position: 0 4px;
    }
  }
}

.chosen-container-multi.chosen-with-drop.chosen-container-active ul.chosen-results {
  padding: 5px;
}
.chosen-container-multi .chosen-choices, .chosen-container .chosen-results, .chosen-container-single .chosen-single{
  border: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 14px;
}
.chosen-container-single .chosen-single div b {
  background-position: 0 15px;
}

.chosen-container-multi {
  .chosen-choices {
    background: transparent;
    color: $dark;
    padding: 0;
    li {
      &.search-field input[type="text"] {
        margin: 0;
        color: $dark;
        height: auto;
        font-size: 14px;
        &.default {
          display: inline-block;
        }
      }
      &.search-choice {
        background: #fff;
        border: none;
        box-shadow: none;
        color: #474747;
        margin: 0 3px 3px 0;
        padding: 3px 20px 3px 3px;
        white-space: nowrap;
        font-size: 12px;
        span {
          font-size: 12px;
        }
        .search-choice-close {
          top: 50%;
          margin-top: -5px;
          right: 5px;
          background: url(/images/chosen-close.png) -42px 1px no-repeat;
        }
      }
    }
  }
}

input[type="text"].chosen-search-input, .chosen-container-single .chosen-search {
  pointer-events: auto;
  cursor: text;
}

.conpos-btns {
  display: flex;
  flex-wrap: nowrap;
  > .btn {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.search-select {
  margin-left: 40px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 2;
  display: flex;
  > .btn {
    margin-right: 15px;
  }
  .chosen-container {
    border: none;
    background: $light;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 10px 20px rgba(161, 172, 188, 0.4);
    .chosen-results {
      margin: 0;
      padding: 0;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        //background-color: $gray;
      }
      &::-webkit-scrollbar {
        width: 7px;
        background-color: $gray;
        margin-left: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 0;
        border: none;
      }
    }
    .chosen-single {
      padding: 12px 20px 12px 40px;
      background: $light;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: $dark;
      height: auto;
      position: relative;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      &:before {
        content: '';
        position: absolute;
        font-size: 1px;
        width: 16px;
        height: 16px;
        left: 12px;
        top: 50%;
        margin-top: -8px;
        background-image: url("../images/search.svg");
      }
    }
    .chosen-results li.active-result {
      border-radius: 0;
      margin: 0;
      padding: 10px 20px;
      font-size: 13px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      &:hover {
        background: $lightGray;
        color: $secondary;
      }
    }
  }
  .chosen-container-single .chosen-search input[type="text"] {
    border: 1px solid $gray;
    height: 30px;
    &:focus {
      border-color: $primary;
    }
  }

}